<title>404: Page Not Found Error</title>
<link href='static/css/page_not_found.css' rel='stylesheet' type='text/css'>
<div class="container">
  <div class="killFeedYou">
    <a href="" class="killer">You</a>
    <div class="weapon ak47"></div>
    <div class="headshot true"></div>
    <div class="wallbang"></div>
    <a href="" class="killed">This website</a>
  </div>
</div>
<div class="container">
  <div class="killFeed">
    <a href="" class="killer">Sorry, but this is a</a>
    <div class="weapon ak47"></div>
    <div class="headshot true"></div>
    <div class="wallbang"></div>
    <a href="" class="killed">"404: Page Not Found" error</a>
  </div>
</div>
<div class="container">
  <div class="killFeedYou">
    <a href="" class="killer">You</a>
    <div class="weapon usp"></div>
    <div class="headshot true"></div>
    <div class="wallbang true"></div>
    <a href="" class="killed">Tiny happy puppies</a>
  </div>
</div>
<div class="container">
  <div class="killFeedYou">
    <a href="" class="killer">You</a>
    <div class="weapon ak47"></div>
    <div class="headshot"></div>
    <div class="wallbang"></div>
    <a href="" class="killed">xavorz</a>
  </div>
</div>
<div class="container">
  <div class="killFeed">
    <a href="" class="killer">Check the url you were trying to access and try again</a>
    <div class="weapon awp"></div>
    <div class="headshot"></div>
    <div class="wallbang true"></div>
    <a href="" class="killed">Hopefully it works now :)</a>
  </div>
</div>

<!-- made by -->
<div class="madeBy">
  <a href="https://codepen.io/tompud/pen/RrQpqG">
    Credits: tompud
  </a>
</div>